a {
    color: black;
    text-decoration: none;
}
h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 2px solid black;
    margin: 0;
    padding: 20px;
}
ol {
    border-right: 2px solid black;
    width: 100px;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    padding: 20px;
    padding-left: 25px;
}
body {
    margin: 0;
}
#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}
#article {
    padding-left: 15px;
}
@media (max-width: 800px) {
    #grid {
        display: block;
    }
    #grid ol {
        border-right: none;
    }
    h1 {
        border-bottom: none;
    }
}